.formCalculo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formCalculo input {
  width: 8.5rem;
  background: none;
  border: 2px solid var(--corSecundaria);
  color: var(--corSecundariaMaisClara);
  padding-left: 0.2rem;
  transition: color 0.3s, box-shadow 0.3s, background 0.3s;
}

.formCalculo input::placeholder {
  color: var(--corSecundaria);
}

.formCalculo input:focus {
  box-shadow: 0 0 5rem var(--corSecundaria) inset;
/*   background: var(--corSecundaria); */
  color: #fff;
}

.formCalculo input:focus::placeholder {
  color: #ddd;
}

.inputPequeno {
  width: 3.7rem !important;
}

.txtCentralizado {
  padding: 0 !important;
  text-align: center;
}

.slotBotao {
  text-align: center;
}

.resultados {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .resultados {
    position: relative;
    margin-top: 5%;
    text-align: center;
  }
}