.mapa {
  background: rgba(0,0,0,0);
  outline: none !important;
}

.etiquetaPlaneta {
  color: yellow;
  background: none;
  border: none;
  box-shadow: none;
} 

.etiquetaPlaneta:before {
  border: none !important;
}

.nomePlaneta {
  width: auto !important;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}