.mapa {
  background: rgba(0,0,0,0);
  outline: none !important;
}

.etiquetaPlaneta {
  color: yellow;
  background: none;
  border: none;
  box-shadow: none;
} 

.etiquetaPlaneta:before {
  border: none !important;
}