.mapa {
  background: rgba(0,0,0,0);
  outline: none !important;
}

.etiquetaPlaneta {
  color: yellow;
  background: none;
  border: none;
  box-shadow: none;
} 

.etiquetaPlaneta:before {
  border: none !important;
}

.nomePlaneta {
  width: auto !important;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.linhaRota {
  stroke: cyan;
  z-index:50000;

  animation: piscando 1s infinite;
}

.marcadorPlaneta {
}

.marcadorSelecionado {
  animation: animSelecionado 1s infinite;
}

@keyframes piscando {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animSelecionado {
  0% {
    stroke-width: 0.2rem;
    stroke: rgba(255, 255, 255, 1);
/*     fill-opacity: 1; */
    filter: hue-rotate(0) brightness(1);
  }

  50% {
    filter: hue-rotate(180deg) brightness(1.5);
  }
  
  100% {
    stroke-width: 1rem;
    stroke: rgba(255, 255, 255, 0);
    filter: hue-rotate(0) brightness(1);
  }
}