.temaPrincipal {
  --corPrimaria: rgb(34, 69, 165);
  --corPrimariaEscura: rgb(31, 52, 112);
  --corPrimariaMaisEscura: rgb(20, 34, 72);
  --corPrimariaClara: rgb(32, 74, 190);
  --corPrimariaMaisClara: rgb(69, 102, 194);
  --corSecundaria: rgb(1, 133, 145);
  --corSecundariaEscura: rgb(1,107,117);
  --corSecundariaMaisEscura: rgb(1,83,90);
  --corSecundariaClara: rgb(14,163,177);
  --corSecundariaMaisClara: rgb(52,170,182);
  --corTerciaria: #747;
  --corComplementar: rgb(239,162,0);
  --corComplementarEscura: rgb(192,130,0);
  --corComplementarMaisEscura: rgb(148,101,0);
  --corComplementarClara: rgb(255,178,17);
  --corComplementarMaisClara: rgb(255,196,70);

  --corFundoPrincipal: rgb(23,33,45);
  --corTextoPrincipal: rgb(230,230,230);

  --corConfirma: #174;

  --corBordaHolocron: #b7b734;
}

input, select {
  outline: none;
}

.marcadorSelecionado {
  animation: animSelecionado 1s infinite;
}

@keyframes animSelecionado {
  0% {
    stroke-width: 0.2rem;
    stroke: rgba(255, 255, 255, 1);
/*     fill-opacity: 1; */
    filter: hue-rotate(0) brightness(1);
  }

  50% {
    filter: hue-rotate(180deg) brightness(1.5);
  }
  
  100% {
    stroke-width: 1rem;
    stroke: rgba(255, 255, 255, 0);
    filter: hue-rotate(0) brightness(1);
  }
}